<div style="background-color:#dbf0fd;width:65%">
<p style="margin-left:50px;padding-top:50px;"><b>THANK YOU FOR YOUR ORDER</b>	<span style="margin-left:150px;"><b>Call us:</b><span style="color:#87cefa;"> +91 - 2 - 45006900</span></span></p>
<p  style="margin-left:50px;"><b>FROM MY SHOPPING CART.</b><span style="margin-left:180px;"><b>Email:</b>info@shopping.com </p>
<pre style="font-family:Times, serif;padding-left:50px;background:none;">
 Once your package ships we will send an email         

  with a link to track your order. Your order

    summary is below. Thank you  again
	
            for your business.
</pre>
</div>

